body {
    background-color:whitesmoke
}

h1, h2, h3, h4 { 
    color: teal;
}

navbar-default {
    background-color: teal;
    color: white;
    background-image:none;
    background-repeat:no-repeat;
}

.navbar-brand {
    background-color: teal;
    color: white;
    font-weight: bold;
    font-size:xx-large;
    font-family: garamond;
    text-align: center;
    position: relative;
    /* left: 25px */

}

.title {
    color: teal;
    font-weight: bold;
    font-size: xx-large;
    font-family: garamond;
    text-align: left;
    position: relative;
}

.graphtitle {
    font-weight: bold;
    font-size: xx-large;
    font-family: garamond;
    text-align:center;
    position: relative;
}

.container{
    background-color: white;
}
