body {
    background-color:whitesmoke
}

navbar-default {
    background-color: white;
    background-image:none;
    background-repeat:no-repeat;
}

.navbar-brand {
    background-color: teal;
    color: white;
    font-weight: bold;
    font-size:xx-large;
    font-family: garamond;
    text-align: center;
    position: relative;
    left: 25px

}

.title {
    color: teal;
    font-weight: bold;
    font-size: xx-large;
    font-family: garamond;
    text-align: left;
    position: relative;
}

h1, h2, h3, h4 { 
    color: teal;
}

.container{
    background-color: white;
}

.panel {
    background-color: white;
    padding: 15px; 
    border: 10px;
    margin: 10 px;
}